.ad-card-details {
  background-color: white;
  padding: 1em;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  border-radius: 0.5em;
}

.ad-card-details .ad-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2em;
  height: 20em;
}

.ad-container .photo-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 100%;
  margin-right: 2em;
  box-sizing: border-box;
  overflow: hidden;
}

.ad-container .photo-view img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.ad-card-details .ad-container .ad-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

.ad-card-details .loader {
  width: 5em;
  height: auto;
  animation: rotate 0.5s ease-in-out forwards infinite;
}

.hidden {
  display: none;
}

.ad-info .title {
  min-height: 3em;
  margin: 0;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.ad-info .contact {
  min-height: 3em;
  margin: 0;
}

.ad-info .description {
  grid-row: 2;
  grid-column: 1 / span 4;
}

.ad-info .start.date {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.ad-info .end.date {
  grid-row: 3;
  grid-column: 3 / span 2;
}

.ad-info .icon-row{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.ad-info .icon-row p {
  margin: 0;
}

.ad-info .icon-row svg {
  width: 2em;
  height: auto;
}

.ad-info .icon-row,
.ad-info .title,
.ad-info .contact,
.ad-info .description {
  border-top: 2px solid #dddddd;
  padding: 0.25em;
  background-color: #fafafa;
}

@keyframes rotate {
 0% {
   transform: rotate(0deg);
 }

 100% {
   transform: rotate(360deg);
 }
}
