.form-view-container {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-view {
  width: 35em;
  background-color: white;
  border-radius: 2em;
  padding: 2em;
  padding-bottom: 5em;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.form-view .tab {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

.form-view .tab h4 {
  margin: 0;
}

.form-view .tab * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B4B4B4;
  cursor: pointer;
  padding: 0.5em 0;
  width: 100%;
  flex: 1;
  height: 2em;
  font-size: 14pt;
  border-radius: 1em;
}

.form-view .tab *.active {
  color: black;
  position: relative;
}

.form-view .tab *.active::after {
  content: "";
  position: absolute;
  background-color: black;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.form-view .tab *:hover {
  background-color: #f0f0f0;
}

.form-view .form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5em;
  margin-top: 5em;
}

.form-view .form-section form button {
  margin-top: 1em;
  width: 100%;
  padding: 0.5em 0;
  background-color: #424245;
  border-radius: 5em;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
}

.form-view .form-section form button:active {
  background-color: #323235;
  color: gray;
}

.form-view .form-section .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  margin-bottom: 2em;
}

.input-group input {
  background-color: #C4CADA;
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 12pt;
}

