.ad-card-item {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.ad-card-item header {
  background-color: white;
}

.ad-card-item .ad-card-img {
  object-fit: contain;
  width: 100%;
  height: 10em;
  overflow: hidden;
}

.ad-card-item .info {
  position: relative;
  /*border: 2px solid #C4C4C4;*/
  display: grid;
  grid-template-columns: auto 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 5fr;
  grid-row-gap: 0.2em;
  grid-column-gap: 0.5em;
  height: 100%;
  margin-top: 1em;
  font-size: 1rem;
  text-align: left;
}

.ad-card-item .info .description {
  text-align: justify;
}

.ad-card-item .info::before {
  content: "";
  position: absolute;
  background-color: #dddddd;
  height: 2px;
  width: 100%;
  top: -0.5em;
  left: 0;
}

.button-container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: white;
  border-radius: 1em;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.button-container:active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
}

.button-container:active {
  transform: translateY(0.1em);
}
