.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #959DCD;
  color: white;
  padding: 0 2em;
}

.app-header .app-image {
  display: flex;
  gap: 1em;
  align-items: center;
}

.app-header nav ul {
	display: flex;
	gap: 1em;
	list-style-type: none;
}

.app-header nav ul li a {
	text-decoration: none;
    color: white;
}
